<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer class="footer">
        <div class="footerInner contWrap">
            <div class="footerMenu">
            <h1 class="logo"><a href="/"><img th:src="@{/images/w_logo.png}" alt="SPORTFOLIO"></a></h1>
                <ul class="fMenu">
                    <li><a href="#">소개</a></li>
                    <li><a href="#">문의</a></li>
                    <li><a href="#">관리자 로그인</a></li>
                </ul>
                <div class="btnWrap">
                    <a href="#" class="btn">이력서 다운로드</a>
                </div>
            </div>
            <ul class="info">
                <li>경기 부천시 소사구 심곡본동 경인로 287</li>
                <li>swtask149@gmail.com</li>
            </ul>
            <p class="copyright">©2025 S.PORTFOLIO All Rights Reserved</p>
        </div>
    </footer>
</div>
</body>
</html> 