/*input*/
input[type="text"], input[type="email"]{border:1px solid var(--gray-color); border-radius: 5px; outline: none; height:45px; padding:0 10px; }
select{border:1px solid var(--gray-color); border-radius: 5px; outline: none;cursor: pointer; height:45px; padding:0 10px;}
textarea{border:1px solid var(--gray-color); border-radius: 5px; outline: none; padding:10px; resize: none;}


/*table*/
.tableWrap{width:100%; border-top:2px solid var(--main-color); border-bottom:1px solid var(--gray-color);}
.tableWrap table{width:100%; table-layout:fixed; border-collapse: collapse;}
.tableWrap table tr th{display:table-cell; vertical-align:middle; padding:0 15px; background: var(--bg-color); height: 45px; font-size: 1rem; color:var(--bk-color); font-weight:600;}
.tableWrap table tr td{display:table-cell; vertical-align:middle; padding:0 15px; font-size: 1rem; border-top: 1px solid var(--gray-color); line-height: 1.3; height: 45px; text-align: center; cursor:pointer;}
.tableWrap table tr:hover td{background:var(--hover-color);}

.writeWrap table tr.inputText th{padding:0;}
.writeWrap table tr.inputText td{padding:0;}
.writeWrap table tr:first-child td{height:55px;}
.writeWrap table tr td{text-align:left; cursor:auto;}
.writeWrap table tr td.tit{background:var(--bg-color); color:var(--bk-color); font-weight:600; border-right:1px solid var(--gray-color); text-align:center;}
.writeWrap input{width:100%; padding:0 15px; border:none;}
.writeWrap textarea{width:100%; padding:15px; border:none; resize:none; min-height:320px; }
.tableWrap.writeWrap table tr:hover td.tit{background:var(--bg-color); }
.tableWrap.writeWrap table tr:hover td{background:inherit;}

/*페이징 pagingWrap*/
.pagingWrap{margin-top:40px;}
.pagingWrap .pagination{display:flex; justify-content:center; align-items:center;}
.pagingWrap .pagination li a.pageBtn{display:flex; align-items:center; padding:20px;}
.pagingWrap .pagination li a.pageBtn img{width:18px;}
.pagingWrap .pagination li a.num{padding:10px;}
.pagingWrap .pagination li a.on{color:var(--main-color);}