/*리스트 list.html*/
.projectWrap{margin:calc(66px + 2.5rem) auto 2.5rem; min-height: calc(100vh - 328px);}
.writeBtnWrap{position:fixed; bottom:calc(152px + 70px); right:3%;}
.writeBtnWrap a{display:flex; justify-content: center; align-items: center; width:60px; height:60px; border-radius: 50%; background:var(--main-color); }
.writeBtnWrap a span{font-size:0;}
.writeBtnWrap a span:before{content:''; display: block; width:24px; height:2px; border-radius: 2px; background:var(--white-color); position:absolute;top:50%; left:50%; transform:translate(-50%, -50%);}
.writeBtnWrap a span:after{content:''; display: block; width:2px; height:24px; border-radius: 2px; background:var(--white-color);position:absolute;top:50%; left:50%; transform:translate(-50%, -50%);}
.writeBtnWrap a:hover span:before{transform:rotate(180deg) translate(50%, 50%); transition: all .3s;}
.writeBtnWrap a:hover span:after{transform:rotate(180deg) translate(50%, 50%); transition: all .3s;}

/*등록 write.html*/
.subTitleWrap .title{color:var(--bk-color); font-size:2rem; font-weight:700;}
.projWriteWrap .writeWrap{margin-top:30px; }
.projWriteWrap .writeWrap .listBox {margin-top:30px; border-top:2px solid var(--main-color);}
.projWriteWrap .writeWrap .listBox > li{display:flex; justify-content: space-between; align-items: center; padding:10px; border-bottom:1px solid var(--gray-color);}
.projWriteWrap .writeWrap .listBox > li .tit{width:160px; font-size:1rem; color:var(--bk-color); font-weight:700; }
.projWriteWrap .writeWrap .listBox > li .txtBox{display:flex; justify-content: space-between; align-items: center; width:calc(100% - 160px);}
.projWriteWrap .writeWrap .listBox > li .txtBox select{width:160px; height:50px; padding:0 10px; border:1px solid var(--gray-color); border-radius: 10px; outline: none; cursor: pointer;}
.projWriteWrap .writeWrap .listBox > li .txtBox input[type="text"]{width:100%; height:50px; border:1px solid var(--gray-color); border-radius: 10px; padding: 0 10px; outline: none;}
.projWriteWrap .writeWrap .listBox > li.list01 .txtBox input[type="text"]{width:calc(100% - 170px); }
.projWriteWrap .writeWrap .listBox > li .check {display: flex; justify-content:flex-start; align-items: center; flex-wrap: wrap; width:100%;padding:15px 0 5px;}
.projWriteWrap .writeWrap .listBox > li .check li {display: flex; justify-content:flex-start; align-items: center; width:25%; margin-bottom:10px;}
.projWriteWrap .writeWrap .listBox > li .check li input {cursor:pointer; width:16px; height:16px;}
.projWriteWrap .writeWrap .listBox > li .check li label {cursor:pointer; margin-left:5px;}

.projWriteWrap .writeWrap .listBox > li.list02 .txtBox{flex-wrap:wrap;}
.projWriteWrap .writeWrap .listBox > li .txtBox textarea{width:100%; border:1px solid var(--gray-color); border-radius: 10px; resize: none; min-height:120px;}
.projWriteWrap .writeWrap .listBox > li.list03 .txtBox textarea{min-height:50px;}
.projWriteWrap .writeWrap .listBox > li.list02 .txtBox .ex{width:100%; font-size:0.875rem; color:var(--small-color); margin-top:5px;}

.projWriteWrap .writeWrap .listBox > li.listImg{min-height:65px;}
.projWriteWrap .writeWrap .listBox > li.listImg input{font-size:0.875rem; cursor: pointer;}

.projWriteWrap .writeWrap .btnWrap{display: flex; justify-content: flex-end; margin-top:2.5rem;}
.projWriteWrap .writeWrap .btnWrap button{display: flex; justify-content: center; align-items: center; border-radius: 10px; height:50px; width:220px; background: var(--main-color); color:var(--white-color); border:none; outline: none; cursor:pointer;}


/*상세페이지 웹*/
.detailWrap01{width:100%;}
.detailWrap01 .projectIntro{width:100%; height:100vh; margin:0 auto; position:relative; text-align: center;}
.detailWrap01 .projectIntro h3{font-size:3.75rem; color:var(--white-color); font-weight:700; padding-top:15.625rem;}
.detailWrap01 .projectIntro img{margin-top:2.5rem; width:auto; max-width:1580px;}
.detailWrap .btnWrap{display: flex; justify-content: flex-end; align-items: center;  position:absolute; top:50px; right:50px; }
.detailWrap .btnWrap a{width:200px; display: flex; justify-content: center; align-items: center; height:45px; border-radius: 45px; font-weight:500;}
.detailWrap01 .projectIntro .btnWrap .siteBtn{background:var(--main-color); color:var(--white-color); margin-right:10px;}
.detailWrap01 .projectIntro .btnWrap .listBtn{background:var(--white-color); color:var(--bk-color); }


.detailWrap01 > div{ text-align: center;}
.detailWrap01 .conceptBox{margin-top:20.5rem;}
.detailWrap01 h3{font-size:3.125rem; font-weight:700; color:var(--bk-color); margin-bottom:1.875rem;}
.detailWrap01 h3 .pink{color:var(--main-color);}
.detailWrap01 p{color:var(--text-color); font-weight:400; line-height: 1.4;}
.detailWrap01 p .bold{font-weight:600;}
.detailWrap01 p .color{color:var(--bk-color);}

.detailWrap01 .conceptBox p.participation{color:var(--small-color); margin-top:1.875rem;}

.detailWrap01 .bgGray{background:var(--bg-color); padding:6.25rem;}
.detailWrap01 .mainPageWrap{margin-top:6.25rem;}
.detailWrap01 .mainPageWrap img{max-width: 1400px; width:94%; border:1px solid var(--gray-color); box-shadow: var(--box-shadow);}

.detailWrap01 .subPageWrap{margin-top:6.25rem;}
.detailWrap01 .projPage{display: flex; justify-content: space-between; align-items: flex-start; gap:10px; max-width:1400px; width:94%; margin:auto;}
.detailWrap01 .subPageWrap .subPageImg li{width:50%;}
.detailWrap01 .subPageWrap .subPageImg li img{border:1px solid var(--gray-color); box-shadow: var(--box-shadow);}

.detailWrap01 .detailBox{margin-top:6.25rem;}
.detailWrap01 .detailBox .detailImg li{width:33.33%;}
.detailWrap01 .detailBox .detailImg li img{border:1px solid var(--gray-color); box-shadow: var(--box-shadow);}

/*상세페이지 그래픽*/
.detailWrap02{width:100%; min-height: 100vh; position:relative;padding:6.25rem 0; display: none;}
.detailWrap02 .detailInner{max-width:1080px; width:94%; margin:0 auto;}
.detailWrap02 h3{font-size:1.875rem; font-weight:700; color:var(--bk-color); margin-bottom:0.9375rem;}
.detailWrap02 h3 .pink{color:var(--main-color);}
.detailWrap02 p{color:var(--text-color); font-weight:400; line-height: 1.4;}
.detailWrap02 p .bold{font-weight:600;}
.detailWrap02 p .color{color:var(--bk-color);}
.detailWrap02 .textWarp{text-align: center;}
.detailWrap02 .textWarp .info{display: flex; justify-content: center; align-items: center;}
.detailWrap02 .textWarp .info li{display: flex; justify-content: flex-start; align-items: center;margin-right:10px;}
.detailWrap02 .textWarp .info li:last-child{margin-right:0;}
.detailWrap02 .textWarp .info li:after{content:''; display: block; width:1px; height:10px; background:var(--gray-color); margin-left:10px; }
.detailWrap02 .textWarp .info li:last-child:after{display: none;}
.detailWrap02 .textWarp .info li p{color:var(--small-color);}
.detailWrap02 .textWarp .info li p.tit:after{display: inline-block; content:':'; color:var(--small-color); margin:0 3px; font-weight:400;}

.detailWrap02 .textWarp .detailText {margin-top:0.9375rem;}

.detailWrap02 .imgWrap{margin-top:2.5rem; text-align: center;}
.detailWrap02 .imgWrap img{width:auto; max-width:100%; border:1px solid
var(--gray-color); box-shadow: var(--box-shadow);}

.detailWrap02 .btnWrap .listBtn{background:var(--main-color); color:var(--white-color); margin-right:10px;}

.detailWrap .btnWrap .updateBtn{width:100px; background:var(--bk-color); margin-right:10px; color:var(--white-color);}
.detailWrap .btnWrap .deleteBtn{width:100px; background:var(--bk-color);margin-right:10px;color:var(--white-color);}


















