<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>문의 리스트</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="contWrap inquiryWrap">
            <div class="subTitleWrap">
                <p class="title">문의 리스트</p>
            </div>

            <div class="tableWrap listTable">
                <table>
                    <colgroup>
                        <col width="8%">
                        <col width="*">
                        <col width="12%">
                        <col width="12%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>회사명</th>
                            <th>등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${#lists.isEmpty(inquiries)}">
                            <td colspan="4">등록된 문의가 없습니다.</td>
                        </tr>
                        <tr th:each="inquiry : ${inquiries}">
                            <td th:text="${inquiry.id}">No</td>
                            <td th:text="${inquiry.title}" style="text-align: left">제목</td>
                            <td th:text="${inquiry.company}">회사명</td>
                            <td th:text="${#temporals.format(inquiry.regTime, 'yyyy-MM-dd')}">등록일</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagingWrap">
                <ul class="pagination">
                    <li><a href="#" class="pageBtn prevBtn"><img th:src="@{/images/arrowLeft.png}" alt="이전"></a></li>
                    <li><a href="#" class="num on">1</a></li>
                    <li><a href="#" class="pageBtn nextBtn"><img th:src="@{/images/arrowRight.png}" alt="다음"></a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>