<!DOCTYPE html>
<html
    layout:decorate="~{layouts/layout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">


<body>
<div layout:fragment="content">
    <div class="contWrap mainProjectWrap">
        <div class="swiper mainProjectSwiper">
            <ul class="projectList swiper-wrapper">
                <li class="swiper-slide" th:each="project : ${noticeProjects}">
                    <a href="#">
                        <div class="imgWrap">
                            <img th:each="img : ${project.projectImgList}"
                                 th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                                 th:src="@{${img.imgUrl}}"
                                 alt="Main Image" />
                        </div>
                        <div class="textWrap">
                            <div class="txtBox">
                                <p class="title" th:text="${project.title}">사이트 명</p>
                                <span class="view" th:text="${project.viewCount}">136</span>
                            </div>
                            <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>
                        </div>
                    </a>
                </li>
            </ul>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <div class="bannerWrap">
        <div class="bannerInner contWrap">
            <p class="subTitle">ARCHIVING</p>
            <ul class="list">
                <li>
                    <a href="https://github.com/yujin149" target="_blank">
                        <p class="name">GIT HUB</p>
                        <p class="link">https://github.com/yujin149</p>
                        <p class="txt">
                            강의를 들으면서 복습한 소스 코드 및 개별 프로젝트 및 팀 프로젝트 등의 소스 코드를 저장하였습니다.
                        </p>
                    </a>
                </li>
                <li>
                    <a href="https://www.notion.so/STUDY-NOTE-110de9d8c8d0808e9097c45998738ab8" target="_blank">
                        <p class="name">NOTION</p>
                        <p class="link">https://www.notion.so/STUDY-NOTE</p>
                        <p class="txt">
                            강의를 들으면서 복습한 내용 정리 및 일정 정리, 개별 및 팀 프로젝트에 대한 내용을 정리하였습니다.
                        </p>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="projectListWrap contWrap">
        <p class="subTitle">프로젝트 리스트</p>
        <ul class="tabWrap">
            <li class="active"><a href="#tab1">전체</a></li>
            <li><a href="#tab2">웹 개발</a></li>
            <li><a href="#tab3">웹 & 모바일</a></li>
            <li><a href="#tab4">반응형 웹</a></li>
            <li><a href="#tab5">SNS 컨텐츠</a></li>
            <li><a href="#tab6">상세페이지 & 이벤트페이지</a></li>
        </ul>

        <ul id="tab1" class="list active">
            <li th:each="project : ${projects}"
                th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).ALL)}">

                <a href="#">
                    <div class="imgWrap">
                        <img th:each="img : ${project.projectImgList}"
                             th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                             th:src="@{${img.imgUrl}}"
                             alt="Main Image" />

                    </div>
                    <div class="textWrap">
                        <div class="txtBox">
                            <p class="title" th:text="${project.title}">사이트 명</p>
                            <span class="view" th:text="${project.viewCount}">136</span>
                        </div>
                        <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>


                    </div>
                </a>
            </li>
        </ul>
        <ul id="tab2" class="list">
            <li th:each="project : ${projects}"
                th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).DEVELOPMENT)}">
                <a href="#">
                    <div class="imgWrap">
                        <img th:each="img : ${project.projectImgList}"
                             th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                             th:src="@{${img.imgUrl}}"
                             alt="Main Image" />

                    </div>
                    <div class="textWrap">
                        <div class="txtBox">
                            <p class="title" th:text="${project.title}">사이트 명이 들어갈 자리</p>
                            <span class="view" th:text="${project.viewCount}">136</span>
                        </div>
                        <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>

                    </div>
                </a>
            </li>
        </ul>
        <ul id="tab3" class="list">
            <li th:each="project : ${projects}"
                th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).WEB)}">
                <a href="#">
                    <div class="imgWrap">
                        <img th:each="img : ${project.projectImgList}"
                             th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                             th:src="@{${img.imgUrl}}"
                             alt="Main Image" />

                    </div>
                    <div class="textWrap">
                        <div class="txtBox">
                            <p class="title" th:text="${project.title}">사이트 명이 들어갈 자리</p>
                            <span class="view" th:text="${project.viewCount}">136</span>
                        </div>
                        <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>

                    </div>
                </a>
            </li>
        </ul>
        <ul id="tab4" class="list">
            <li th:each="project : ${projects}"
                th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).REACTION)}">
                <a href="#">
                    <div class="imgWrap">
                        <img th:each="img : ${project.projectImgList}"
                             th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                             th:src="@{${img.imgUrl}}"
                             alt="Main Image" />

                    </div>
                    <div class="textWrap">
                        <div class="txtBox">
                            <p class="title" th:text="${project.title}">사이트 명이 들어갈 자리</p>
                            <span class="view" th:text="${project.viewCount}">136</span>
                        </div>
                        <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>

                    </div>
                </a>
            </li>
        </ul>
        <ul id="tab5" class="list">
            <li th:each="project : ${projects}"
                th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).SNS)}">
                <a href="#">
                    <div class="imgWrap">
                        <img th:each="img : ${project.projectImgList}"
                             th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                             th:src="@{${img.imgUrl}}"
                             alt="Main Image" />

                    </div>
                    <div class="textWrap">
                        <div class="txtBox">
                            <p class="title" th:text="${project.title}">사이트 명이 들어갈 자리</p>
                            <span class="view" th:text="${project.viewCount}">136</span>
                        </div>
                        <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>

                    </div>
                </a>
            </li>
        </ul>
        <ul id="tab6" class="list">
            <li th:each="project : ${projects}"
                th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).DETAIL)}">
                <a href="#">
                    <div class="imgWrap">
                        <img th:each="img : ${project.projectImgList}"
                             th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                             th:src="@{${img.imgUrl}}"
                             alt="Main Image" />

                    </div>
                    <div class="textWrap">
                        <div class="txtBox">
                            <p class="title" th:text="${project.title}">사이트 명이 들어갈 자리</p>
                            <span class="view" th:text="${project.viewCount}">136</span>
                        </div>
                        <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>

                    </div>
                </a>
            </li>
        </ul>
    </div>

</div>
</body>
</html>