<!DOCTYPE html>
<html layout:decorate="~{layouts/layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<div layout:fragment="content">
    <div class="contWrap inquiryWrap">
        <div class="subTitleWrap">
            <p class="title">문의하기</p>
        </div>
        <form th:action="@{/inquiry}" method="post" th:object="${inquiryDto}" class="inquiryForm">
            <!-- CSRF 토큰 추가 -->
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <ul class="inquiryBox writeTable">
               <li class="wp50">
                   <p class="tit">회사명 <span class="star">*</span></p>
                   <div class="textBox">
                       <input type="text" th:field="*{company}">
                       <p class="error" th:errors="*{company}">회사명을 입력해주세요.</p>
                   </div>
               </li>
                <li class="wp50">
                    <p class="tit">담당자명 <span class="star">*</span></p>
                    <div class="textBox">
                        <input type="text" th:field="*{name}">
                        <p class="error" th:errors="*{name}">담당자명을 입력해주세요.</p>
                    </div>
                </li>
                <li>
                    <p class="tit">이메일 <span class="star">*</span></p>
                    <div class="textBox">
                        <div class="email">
                            <input type="text" name="email01">
                            <span>@</span>
                            <input type="text" name="email02">
                            <select name="emailDomain">
                                <option value="직접입력">직접입력</option>
                                <option value="hanmail.net">hanmail.net</option>
                                <option value="naver.com">naver.com</option>
                                <option value="nate.com">nate.com</option>
                                <option value="gmail.com">gmail.com</option>
                            </select>
                            <!-- 숨겨진 이메일 도메인 필드 추가 -->
                            <input type="hidden" name="hiddenEmailDomain" id="hiddenEmailDomain">
                        </div>
                        <p class="error" th:errors="*{email}">연락 받으실 이메일을 입력해주세요.</p>
                    </div>
                </li>
                <li>
                    <p class="tit">연락처 <span class="star">*</span></p>
                    <div class="textBox">
                        <div class="phone">
                            <select id="phone1" name="phone1">
                                <option value="010">010</option>
                                <option value="011">011</option>
                                <option value="016">016</option>
                                <option value="017">017</option>
                                <option value="018">018</option>
                                <option value="019">019</option>
                            </select>
                            <span>-</span>
                            <input type="text" id="phone2" name="phone2" maxlength="4">
                            <span>-</span>
                            <input type="text" id="phone3" name="phone3" maxlength="4">
                        </div>
                        <p class="error" th:errors="*{phone}">연락 받으실 번호를 입력해주세요.</p>
                    </div>
                </li>
                <li>
                    <p class="tit">제목 <span class="star">*</span></p>
                    <div class="textBox">
                        <input type="text" th:field="*{title}" placeholder="제목을 입력해주세요.">
                        <p class="error" th:errors="*{title}">제목은 필수 입력 값입니다.</p>
                    </div>
                </li>
                <li>
                    <p class="tit">문의 내용 <span class="star">*</span></p>
                    <div class="textBox">
                        <textarea th:field="*{content}" placeholder="문의 내용을 작성해주세요."></textarea>
                        <p class="error" th:errors="*{content}">내용은 필수 입력 값입니다.</p>
                    </div>
                </li>
            </ul>

            <div class="agreeChk">
                <p class="tit">개인정보 수집 · 이용에 대한 안내 (필수 수집 · 이용 항목)</p>
                <p class="txt">
                    문의주신 내용의 답변을 위하여 개인정보를 수집합니다. 개인정보 수집에 동의하신 분에 한하여 문의 접수가 가능합니다.<br>
                    수집하는 개인정보 항목 : 회사명 / 담당자명 / 연락처 / 이메일
                </p>
                <label class="check">
                    <input type="checkbox">
                    <p>개인정보 수집에 동의합니다.</p>
                </label>
            </div>
            <div class="btnWrap">
                <a href="/admin/inquiryList" class="listBtn" sec:authorize="hasRole('ADMIN')">문의하기 리스트</a>
                <button type="submit">문의하기</button>
            </div>
        </form>

    </div>
</div>
</body>
</html>