<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <title>문의 리스트</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="contWrap inquiryWrap">
            <div class="subTitleWrap">
                <p class="title">문의 리스트</p>
            </div>

            <div class="tableWrap listTable">
                <table>
                    <colgroup>
                        <col width="8%">
                        <col width="*">
                        <col width="12%">
                        <col width="12%">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>제목</th>
                            <th>회사명</th>
                            <th>등록일</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${#lists.isEmpty(inquiries)}">
                            <td colspan="4">등록된 문의가 없습니다.</td>
                        </tr>
                        <tr th:each="inquiry, stat : ${inquiries}" 
                            th:onclick="|location.href='@{/admin/inquiryView(id=${inquiry.id})}'|"
                            style="cursor: pointer;">
                            <td th:text="${endNumber - stat.index}">No</td>
                            <td th:text="${inquiry.title}" style="text-align: left">제목</td>
                            <td th:text="${inquiry.company}">회사명</td>
                            <td th:text="${#temporals.format(inquiry.regTime, 'yyyy-MM-dd')}">등록일</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagingWrap">
                <ul class="pagination">
                    <li th:if="${inquiriesPage.hasPrevious()}">
                        <a th:href="@{/admin/inquiryList(page=${inquiriesPage.number - 1}, size=${inquiriesPage.size})}" 
                           class="pageBtn prevBtn">
                            <img th:src="@{/images/arrowLeft.png}" alt="이전">
                        </a>
                    </li>
                    
                    <li th:each="pageNum : ${#numbers.sequence(0, inquiriesPage.totalPages - 1)}">
                        <a th:href="@{/admin/inquiryList(page=${pageNum}, size=${inquiriesPage.size})}" 
                           th:text="${pageNum + 1}"
                           th:class="${pageNum == inquiriesPage.number} ? 'num on' : 'num'">1</a>
                    </li>
                    
                    <li th:if="${inquiriesPage.hasNext()}">
                        <a th:href="@{/admin/inquiryList(page=${inquiriesPage.number + 1}, size=${inquiriesPage.size})}" 
                           class="pageBtn nextBtn">
                            <img th:src="@{/images/arrowRight.png}" alt="다음">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>