<!DOCTYPE html>
<html
    layout:decorate="~{layouts/detailLayout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content">
    <div class="detailWrap detailWrap01" th:style="${isWebType ? 'display:block' : 'display:none'}">
        <div class="projectIntro" th:style="'background-image:url(' + ${mainBannerUrl} + ')'">
            <h3 class="title" th:text="${project.title}">프로젝트 명 + WEB SITE</h3>
            <img th:src="${previewUrl}" alt="미리보기 이미지">
            <div class="btnWrap">
                <a class="updateBtn" th:href="@{/project/edit/{id}(id=${project.id})}">수정</a>
                <a class="deleteBtn" href="#" >삭제</a>
                <a class="siteBtn" th:href="${project.url}" target="_blank">사이트 바로가기 +</a>
                <a class="listBtn" href="/project">포트폴리오 리스트</a>
            </div>
        </div>

        <div class="conceptBox">
            <h3><span class="pink">D</span>ESIGN CONCEPT</h3>
            <p class="text" th:utext="${project.concept}"></p>
            <p class="participation" th:utext="${project.part}"></p>
        </div>

        <div class="mainPageWrap bgGray">
            <h3><span class="pink">M</span>AIN PAGE</h3>
            <div class="mainPageImg projPage">
                <img th:src="${mainPageUrl}" alt="MAINPAGE">
            </div>
        </div>

        <div class="subPageWrap">
            <h3><span class="pink">S</span>UB PAGE</h3>
            <ul class="subPageImg projPage">
                <li><img th:src="${subPage1Url}" alt="SUBPAGE1"></li>
                <li><img th:src="${subPage2Url}" alt="SUBPAGE2"></li>
            </ul>
        </div>

        <div class="detailBox bgGray">
            <h3><span class="pink">E</span>TC DETAIL PAGE</h3>
            <ul class="detailImg projPage">
                <li><img th:src="${detail1Url}" alt="DETAIL1"></li>
                <li><img th:src="${detail2Url}" alt="DETAIL2"></li>
                <li><img th:src="${detail3Url}" alt="DETAIL3"></li>
            </ul>
        </div>
    </div>

    <div class="detailWrap detailWrap02" th:style="${!isWebType ? 'display:block' : 'display:none'}">
        <div class="detailInner">
            <div class="textWarp">
                <h3 class="title" th:text="${project.title}">프로젝트 명 </h3>
                <ul class="info">
                    <li>
                        <p class="tit">Client</p>
                        <p class="txt" th:text="${project.client}">솔직한식탁</p>
                    </li>
                    <li>
                        <p class="tit">Type</p>
                        <p class="txt" th:text="${project.type}">Card news</p>
                    </li>
                </ul>

                <p class="detailText" th:text="${project.detail}">
                    업체에서 제공한 자료를 바탕으로 작업한 디자인입니다.<br>
                    눈 건강의 주제를 바탕으로 눈의 피로를 덜어주는 그린 컬러를 사용하여 제작하였습니다.
                </p>
            </div>

            <div class="imgWrap">
                <img alt="ETC" th:src="${etcUrl}">
            </div>
        </div>
        <div class="btnWrap">
            <a class="updateBtn" th:href="@{/project/edit/{id}(id=${project.id})}">수정</a>
            <a class="deleteBtn" href="#" >삭제</a>
            <a class="listBtn" href="/project">포트폴리오 리스트</a>
        </div>
    </div>
</div>

</body>
</html>