<!DOCTYPE html>
<html
    layout:decorate="~{layouts/layout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content">
    <div class="writeBtnWrap">
        <a href="/project/write" class="writeBtn"><span>상품 등록</span></a>
    </div>
    <div class="contWrap projectWrap projListWrap">
        <div class="projectListWrap">
            <ul class="tabWrap">
                <li class="active"><a href="#tab1">전체</a></li>
                <li><a href="#tab2">웹 개발</a></li>
                <li><a href="#tab3">웹 & 모바일</a></li>
                <li><a href="#tab4">반응형 웹</a></li>
                <li><a href="#tab5">SNS 컨텐츠</a></li>
                <li><a href="#tab6">상세페이지 & 이벤트페이지</a></li>
            </ul>
            <ul id="tab1" class="list active">
                <li th:each="project : ${projects}"
                    th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).ALL)}">

                <a th:href="@{/project/detail/{id}(id=${project.id})}">
                        <div class="imgWrap">
                            <img th:each="img : ${project.projectImgList}"
                                 th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                                 th:src="@{${img.imgUrl}}"
                                 alt="Main Image" />

                        </div>
                        <div class="textWrap">
                            <div class="txtBox">
                                <p class="title" th:text="${project.title}">사이트 명</p>
                                <span class="view" th:text="${project.viewCount}">136</span>
                            </div>
                            <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>


                        </div>
                    </a>
                </li>

            </ul>
            <ul id="tab2" class="list">
                <li th:each="project : ${projects}"
                    th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).DEVELOPMENT)}">
                    <a th:href="@{/project/detail/{id}(id=${project.id})}">
                        <div class="imgWrap">
                            <img th:each="img : ${project.projectImgList}"
                                 th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                                 th:src="@{${img.imgUrl}}"
                                 alt="Main Image" />

                        </div>
                        <div class="textWrap">
                            <div class="txtBox">
                                <p class="title" th:text="${project.title}">사이트 명이 들어갈 자리</p>
                                <span class="view" th:text="${project.viewCount}">136</span>
                            </div>
                            <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>

                        </div>
                    </a>
                </li>

            </ul>
            <ul id="tab3" class="list">
                <li th:each="project : ${projects}"
                    th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).WEB)}">
                    <a th:href="@{/project/detail/{id}(id=${project.id})}">
                        <div class="imgWrap">
                            <img th:each="img : ${project.projectImgList}"
                                 th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                                 th:src="@{${img.imgUrl}}"
                                 alt="Main Image" />

                        </div>
                        <div class="textWrap">
                            <div class="txtBox">
                                <p class="title" th:text="${project.title}">사이트 명이 들어갈 자리</p>
                                <span class="view" th:text="${project.viewCount}">136</span>
                            </div>
                            <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>

                        </div>
                    </a>
                </li>
            </ul>
            <ul id="tab4" class="list">
                <li th:each="project : ${projects}"
                    th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).REACTION)}">
                    <a th:href="@{/project/detail/{id}(id=${project.id})}">
                        <div class="imgWrap">
                            <img th:each="img : ${project.projectImgList}"
                                 th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                                 th:src="@{${img.imgUrl}}"
                                 alt="Main Image" />

                        </div>
                        <div class="textWrap">
                            <div class="txtBox">
                                <p class="title" th:text="${project.title}">사이트 명이 들어갈 자리</p>
                                <span class="view" th:text="${project.viewCount}">136</span>
                            </div>
                            <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>

                        </div>
                    </a>
                </li>
            </ul>
            <ul id="tab5" class="list">
                <li th:each="project : ${projects}"
                    th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).SNS)}">
                    <a th:href="@{/project/detail/{id}(id=${project.id})}">
                        <div class="imgWrap">
                            <img th:each="img : ${project.projectImgList}"
                                 th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                                 th:src="@{${img.imgUrl}}"
                                 alt="Main Image" />

                        </div>
                        <div class="textWrap">
                            <div class="txtBox">
                                <p class="title" th:text="${project.title}">사이트 명이 들어갈 자리</p>
                                <span class="view" th:text="${project.viewCount}">136</span>
                            </div>
                            <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>

                        </div>
                    </a>
                </li>
            </ul>
            <ul id="tab6" class="list">
                <li th:each="project : ${projects}"
                    th:if="${project.categories.contains(T(com.portfolio.constant.ProjectCategoryStatus).DETAIL)}">
                    <a th:href="@{/project/detail/{id}(id=${project.id})}">
                        <div class="imgWrap">
                            <img th:each="img : ${project.projectImgList}"
                                 th:if="${img.imageType == T(com.portfolio.constant.ProjectImgStatus).MAINPAGE}"
                                 th:src="@{${img.imgUrl}}"
                                 alt="Main Image" />

                        </div>
                        <div class="textWrap">
                            <div class="txtBox">
                                <p class="title" th:text="${project.title}">사이트 명이 들어갈 자리</p>
                                <span class="view" th:text="${project.viewCount}">136</span>
                            </div>
                            <p class="option" th:text="${project.getCategoriesDisplayNames()}">웹 개발</p>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>>
</body>
</html>