<!DOCTYPE html>
<html
    layout:decorate="~{layouts/layout}"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<div layout:fragment="content">
    <div class="contWrap projectWrap projWriteWrap">
        <div class="subTitleWrap">
            <p class="title">프로젝트 등록</p>
        </div>
        <div class="writeWrap">
            <form>
                <ul class="listBox">
                    <li class="list01 list">
                         <p class="tit">프로젝트명</p>
                        <div class="txtBox">
                            <select name="recommendProj" id="recommendProj">
                                <option value="recommend">추천</option>
                                <option value="general">일반</option>
                            </select>
                            <input type="text" placeholder="프로젝트명">
                        </div>
                    </li>
                    <li class="list">
                        <p class="tit">카테고리 설정</p>
                        <div class="txtBox">
                            <ul class="check">
                                <li>
                                    <input type="checkbox" id="category01" name="category01">
                                    <label for="category01">전체</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category02" name="category02">
                                    <label for="category02">웹 개발</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category03" name="category03">
                                    <label for="category03">웹 & 모바일</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category04" name="category04">
                                    <label for="category04">반응형 웹</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category05" name="category05">
                                    <label for="category05">SNS 컨텐츠</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="category06" name="category06">
                                    <label for="category06">상세페이지 & 이벤트페이지</label>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="list">
                        <p class="tit">클라이언트</p>
                        <div class="txtBox">
                            <input type="text">
                        </div>
                    </li>
                    <li class="list">
                        <p class="tit">타입</p>
                        <div class="txtBox">
                            <input type="text">
                        </div>
                    </li>
                    <li class="list">
                        <p class="tit">작업 툴</p>
                        <div class="txtBox">
                            <input type="text">
                        </div>
                    </li>
                    <li class="list list02">
                        <p class="tit">프로젝트 컨셉</p>
                        <div class="txtBox">
                            <textarea name="projTxt01" id="projTxt01" ></textarea>
                            <p class="ex">&lt;span class="bold"&gt;는 글씨 크기가 굵게, &lt;span class="color"&gt;는 포인트 컬러로 색상 변경됩니다.</p>
                        </div>
                    </li>
                    <li class="list list02 list03">
                        <p class="tit">프로젝트 참여도</p>
                        <div class="txtBox">
                            <textarea name="projTxt02" id="projTxt02" ></textarea>
                            <p class="ex">&lt;span class="bold"&gt;는 글씨 크기가 굵게, &lt;span class="color"&gt;는 포인트 컬러로 색상 변경됩니다.</p>
                        </div>
                    </li>
                    <li class="list list02">
                        <p class="tit">프로젝트 설명</p>
                        <div class="txtBox">
                            <textarea name="projTxt02" id="projTxt02" ></textarea>
                            <p class="ex">&lt;span class="bold"&gt;는 글씨 크기가 굵게, &lt;span class="color"&gt;는 포인트 컬러로 색상 변경됩니다.</p>
                        </div>
                    </li>
                    <li class="list listImg">
                        <p class="tit">메인 배너</p>
                        <div class="txtBox">
                            <input type="file" id="bannerImg">
                        </div>
                    </li>
                    <li class="list listImg">
                        <p class="tit">미리보기 이미지</p>
                        <div class="txtBox">
                            <input type="file" id="previewImg">
                        </div>
                    </li>
                    <li class="list listImg">
                        <p class="tit">메인 이미지(페이지)</p>
                        <div class="txtBox">
                            <input type="file" id="mainImg">
                        </div>
                    </li>
                    <li class="list listImg">
                        <p class="tit">서브 페이지 01</p>
                        <div class="txtBox">
                            <input type="file" id="subImg01">
                        </div>
                    </li>
                    <li class="list listImg">
                        <p class="tit">서브 페이지 02</p>
                        <div class="txtBox">
                            <input type="file" id="subImg02">
                        </div>
                    </li>
                    <li class="list listImg">
                        <p class="tit">상세 페이지 01</p>
                        <div class="txtBox">
                            <input type="file" id="detailImg01">
                        </div>
                    </li>
                    <li class="list listImg">
                        <p class="tit">상세 페이지 02</p>
                        <div class="txtBox">
                            <input type="file" id="detailImg02">
                        </div>
                    </li>
                    <li class="list">
                        <p class="tit">사이트 주소</p>
                        <div class="txtBox">
                            <input type="text">
                        </div>
                    </li>
                </ul>

                <div class="btnWrap">
                    <button type="submit">등록</button>
                </div>
            </form>
        </div>

    </div>
</div>
</body>
</html>